html{
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

body{
	max-width:800px;
	height:200%;
	margin:0 auto;
	padding:0;
	font-family:arial;
}

header{
	position: relative;
	background-image: url("../imagens/TorreEiffel.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 36%;
}
#texto-header{
	position:absolute;
	top:28%;
	left:22%;
	width: 35%;
	color:white;
}
#texto-header h1{
	font-size: 28pt;
	font-weight:bold;
}

#texto-header p{
	margin-top:2em;
}

#texto-header a:link{
	color:white;
	font-size:0.8em;
}

#transp{
	position: relative;
	top:50%;
	background-color: RGBA(2,156,101,0.5);
	width:50%;
	height: 50%;
}

#info1{
	position:relative;
	background-color: #97a86d;
	height:19%;
}

#info1 div{
	position: absolute;
	top: 20%;
	left: 5%;
	color:#4F4F4F;
}

h3{
	font-family:arial;
	font-weight:bold;
}

#info1 div p{
	font-size:0.8em;
	width: 55%;
}

#info1 div button{
	display:inline-block;
	background-color: RGBA(255,255,255,0);
	font-size:0.6em;
	width:100px;
	height:30px;
	font-weight:bold;
}

#tabela-precos{
	color:#6d9b9b;
	position:relative;
	height: 27%;
}

#tabela-precos div{
	position: absolute;
	top:10%;
	left: 5%;
}

#linha1{
	background-color: aquamarine;
	height:2em;
}

.txt-thead, .preco{
	font-weight: 900;
	color:black;
}

.txt-thead{
	vertical-align: middle;
	font-size:0.75em;
}

#linha2{
	background-color: rgb(126, 182, 163);
	height: 3em;
}

.preco{
	vertical-align: middle;
	font-size: 1.5em;
}

tr{
	height:3.5em;
	font-size:0.8em;
	color:#888888;
	font-weight:600;
}

tbody tr td{
	vertical-align: middle;
}

#notebook{
	position: relative;
	height:27%;
	background-image: url("../imagens/paisagem.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 36%;
}

#notebook div{
	position:absolute;
	bottom: 1.5em;
	left:2.5em;
	color: white;
	font-size:1.25em;
	line-height:1.5em;
	text-align:center;
}

#autora{
	font-size:0.5em;
}